body {background-color: rgb(208, 219, 240);font-family: Verdana, Geneva, Tahoma, sans-serif;}
body {margin: 150px;}
h1 {color: white;}
p {color: rgb(24, 24, 103);font-size: 20px;}
video {margin-left: 390px;}